body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 0;
    background-image: repeating-linear-gradient(90deg,  rgba(191, 174, 250, 0.575), rgba(237, 234, 247, 0.76) 4%);
}

header{
    width: 100%;
    position: relative;
}

.navbar{
    margin: 0 auto;
    width: 1170px;
}

.navbar ul{
    margin: 10px;
    padding: 20px;
    list-style: none;
    text-align: right;
}

.navbar ul li{
    float: none;
    display: inline-block;
}

.navbar ul li:nth-child(1) {
    float: left;
}

.navbar ul li:nth-child(2) {
    float: left;
}

.navbar ul li:nth-child(3) {
    float: left;
}


.navbar ul li a{
    color: gray;
    font-size: 20px;
    text-transform: none;
    text-decoration: none;
    display: block;
    padding: 40px 70px;
}

.navbar ul li a:hover{
    cursor: pointer;
    text-transform: uppercase;
}

.logoArea{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0px;
    content: "";
    margin-left: -180px;
    text-align: center;
}

.headerImg{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more{
    color: blue;
    font-size: 20px;
    border: none;
    text-decoration: none;
    list-style: none;
}


.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.flexContainer > .card {
    width: 250px;
    margin: 15px;
    font-size: 18px;
    text-align: center;
  }

  .card p{
      color: grey;
      text-align: left;
  }

  .card img{
    border: 8px solid white;
    border-radius: 4px;
    width: 250px;
    margin-top: 0px;
    box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 1);
  }


.leftDiv{
    width: 40%;
    float: left;
    font-size: 20px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 120px;
}

span{
    color: blue;
    text-decoration: underline;
}

.rightDiv{
    margin-top: 90px;
    width: 30%;
    float: right;
    margin-right: 180px;
    font-size: 20px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.rightDiv p{
    border-bottom: 1px dashed gray; 
}

.aboutCastle{
    float: left;
    margin-top: 90px;
    width: 80%;
    margin-left: 120px;
    font-size: 20px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}





